[Unit]
Description=Gateway Alarm Service
After=network.target sensor.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/gateway_RTU/src
Environment=PYTHONPATH=/opt/gateway_RTU/src
Environment=PYTHONUNBUFFERED=1
ExecStart=/root/venv38/bin/python -m services.alarm_service
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

